{% extends 'list.html' %}
{% block right_context %}
<div class="col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            班级列表
                        </div>
                        <div class="panel-body">
                        <div class="head-form">
                            <form method="post" action="{% url 'backstage:add_class' %}">{% csrf_token %}
                                <div class="text-right">
                                    <button type="submit" class="btn btn-success">新增</button>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th>班级名称</th>
                                    <th>人数</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for context in class_list %}
                                <tr>
                                    <td>{{ context.class_name }}</td>
                                    <td>{{ context.max_student }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="detial/{{ context.id }}" class="btn btn-default">编辑</a><a href="delate/{{ context.id }}" class="btn btn-danger">删除</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination" style="float: right;">
                        <li><a href="#">&laquo;</a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



{% endblock %}