{% extends 'base.html' %}
{% block title %}后台{% endblock %}
{% block maintext %}
    {% if request.session.user_status == '老师' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <a href="#" class="list-group-item active"><span class="glyphicon glyphicon-home"></span>后台管理
                    </a>
                    <a href="{% url 'backstage:task_control' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                    </span>任务管理</a>
                    <a href="{% url 'backstage:class_control' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                    </span>班级管理</a>

                </div>
                {% block right_context %}
                    <h2 class="text-center">欢迎来到教师后台</h2>
                {% endblock %}

                    </div>
        </div>
    {% else %}
        <h1>你没有访问权限</h1>
    {% endif %}
{% endblock %}