{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block maintext %}
    {% if request.session.is_login %}
        <div class="col-sm-10">
    <a href="#" class="list-group-item active">
    任务列表
    </a>
            {% for context in task_list %}
        <a href="editor/{{ context.id }}" class="list-group-item">
            {{ context.id }}
            {{ context.title }}
            <div class="text-right">作者：{{ context.author }}&emsp;发布时间：{{ context.c_time }}</div>
    </a>
        {% endfor %}
        </div>
        <div class="col-sm-2">
            <a href="#" class="list-group-item list-group-item-heading active">排行榜</a>
        </div>
    {% else %}
    <h1>你尚未登录，请先登录</h1>
    {% endif %}
{% endblock %}