{% extends 'base.html' %}
{% block title %}
    在线编程
{% endblock %}
{% block maintext %}
            <div class="col-sm-4">
            <div class="text-info page-header"><h3>任务</h3></div>
                <div><h4>题目：{{ task.title }}</h4></div>
                描述：{{ task.descriptions }}
            </div>
            <div class="col-sm-4">
                {% load djangocodemirror_tags %}
<form action="#" method="post">{% csrf_token %}
    <div class="form-group">
        <div class="text-info page-header"><h3>你的代码</h3></div>

        {{ form.editor }}
    </div>
    <input type="submit" class="btn btn-primary">
</form>

{% codemirror_field_css_assets form.editor %}
{% codemirror_field_js_assets form.editor %}
<script>
    var foo_codemirror = CodeMirror.fromTextArea(
        document.getElementById("id_editor"),
        {{ form.editor|codemirror_parameters }}
    );
</script>
            </div>
            <div class="col-sm-4">
            <div class="text-info page-header"><h3>运行结果</h3></div>
                <div>{{ result }}</div>
{% endblock %}